{% extends 'template/jhTemplateV4.html'%}
{% block vueTemplate %}
<!-- 3 table 下 project 的单表 crud 页面 -->


<script type="text/html" id="app-template">
    <div>
        <v-app mobile-breakpoint="sm">
            <jh-menu />
            <v-main class="mt-15">
                <!-- 头部内容 >>>>>>>>>>>>> -->
                <div class="jh-page-second-bar px-8">
                    <div class="pt-3 text-h7 font-weight-bold">
                        项目管理
                        <!-- 帮助页按钮 -->
                        <v-icon @click="isHelpPageDrawerShow = true" color="success" small>mdi-help-circle-outline</v-icon>
                    </div>
                    <v-breadcrumbs class="pb-3 pt-0 px-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
                </div>
                <!-- <<<<<<<<<<<<< 头部内容 -->
    
                <div class="jh-page-body-container px-8">
                    <!-- 页面内容 >>>>>>>>>>>>> -->
                    <v-card class="rounded-lg">
                        <v-row class="ma-0 pa-4">
                            <!--新增按钮-->
                            <v-btn color="success" class="elevation-0 mr-2" @click="doUiAction('startCreateItem')"
                                small>新增</v-btn>
                            <v-spacer></v-spacer>
                            <!--搜索过滤-->
                            <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
                                <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input" dense
                                    filled single-line></v-text-field>
                            </v-col>
                        </v-row>
                        <!--表格-->
                        <v-data-table :headers="headers" :items="tableData" :search="searchInput"
                            :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                            :items-per-page="-1" mobile-breakpoint="0" :loading="isTableLoading"
                            checkbox-color="success" fixed-header :class="{'zebraLine': isTableZebraLineShown }"
                            class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
                            <template v-slot:header.action="{ header }">
                              <span class="ml-2">操作</span>
                            </template>
                            <!--表格行操作按钮-->
                            <template v-slot:item.operationAt="{ item }">
                              {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
                            </template>
                            <template v-slot:item.action="{ item }">
                              <v-btn v-for="tableButton of tableButtonList" :color="tableButton.color" outlined x-small class="elevation-0 mr-2" @click="doUiAction(tableButton.action, {item, button: tableButton})">{{ tableButton.text }}</v-btn>
                            </template>
                            <!--没有数据-->
                            <template v-slot:loading>
                              <div class="jh-no-data">数据加载中</div>
                            </template>
                            <template v-slot:no-data>
                              <div class="jh-no-data">暂无数据</div>
                            </template>
                            <template v-slot:no-results>
                              <div class="jh-no-data">暂无数据</div>
                            </template>
                            <!--表格分页-->
                            <template v-slot:footer.page-text="pagination">
                              <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                              <span class="ml-1">共{{pagination.itemsLength}}条</span>
                            </template>
                        </v-data-table>
                    </v-card>
                    <!-- <<<<<<<<<<<<< 页面内容 -->
    
                    <!--新增抽屉-->
                    <v-navigation-drawer v-model="isAddDrawerShow" v-click-outside="drawerClickOutside" fixed temporary
                        right width="80%" class="elevation-24">
                        <v-form ref="createForm" lazy-validation>
                            <!--抽屉标题-->
                          
                            <v-row no-gutters>
                            <span class="text-h7 font-weight-bold pa-4">添加信息</span>
                            </v-row>
                            <v-divider class="jh-divider"></v-divider>
                            <!--抽屉表单-->
                            <v-row class="ma-0">
                               
                           
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label"><span class="red--text">*</span>项目名称</span>
                                <v-text-field  :rules="requireRules" class="jh-v-input " dense filled single-line v-model="addItem.projectName"></v-text-field>
                              </v-col>
                               
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label">项目图标</span>
                                <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.projectIcon"></v-text-field>
                              </v-col>
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label">项目分组</span>
                                <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.projectGroup"></v-text-field>
                              </v-col>

                              <v-col cols="12" sm="12" md="4">
                                <span class="jh-input-label">项目开始时间</span>
                                <!-- 时间选择 -->
                                <v-menu ref="projectStartAtMenu" v-model="isProjectStartAtMenuShown" :close-on-content-click="false" :nudge-right="40" :return-value.sync="addItem.projectStartAt" transition="scale-transition" offset-y min-width="auto">
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field append-icon="mdi-calendar" class="jh-v-input" dense single-line filled v-model="addItem.projectStartAt" v-bind="attrs" v-on="on"></v-text-field>
                                  </template>
                                  <v-date-picker v-model="addItem.projectStartAt" no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="isProjectStartAtMenuShown = false">取消</v-btn>
                                    <v-btn text color="primary" @click="$refs.projectStartAtMenu.save(addItem.projectStartAt)">确定</v-btn>
                                  </v-date-picker>
                                </v-menu>
                              </v-col>
                               
                              <v-col cols="12" sm="12" md="4">
                                <span class="jh-input-label">项目截止时间</span>
                                <v-menu ref="projectStartEndMenu" v-model="isProjectEndAtMenuShown" :close-on-content-click="false" :nudge-right="40" :return-value.sync="addItem.projectEndAt" transition="scale-transition" offset-y min-width="auto">
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field append-icon="mdi-calendar" class="jh-v-input" dense single-line filled v-model="addItem.projectEndAt" v-bind="attrs" v-on="on"></v-text-field>
                                  </template>
                                  <v-date-picker v-model="addItem.projectEndAt" no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="isProjectEndAtMenuShown = false">取消</v-btn>
                                    <v-btn text color="primary" @click="$refs.projectStartEndMenu.save(addItem.projectEndAt)">确定</v-btn>
                                  </v-date-picker>
                                </v-menu>
                              </v-col>

                               
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label">项目描述</span>
                                <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.projectDesc"></v-text-field>
                              </v-col>
                               
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label">项目成员列表</span>
                                <v-autocomplete multiple :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="addItem.taskMemberIdList"></v-autocomplete>
                              </v-col>
                               
                              
                               
                               
                            </v-row>
                            <!--抽屉操作按钮-->
                            <v-row class="justify-end mx-0 mt-8 px-6">
                                <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
                                <v-btn class="ml-2" @click="isAddDrawerShow = false" small>取消</v-btn>
                            </v-row>
                        </v-form>
                        <!--抽屉关闭按钮-->
                        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
                            @click="isAddDrawerShow = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-navigation-drawer>

                    <!--编辑抽屉-->
                    <v-navigation-drawer v-model="isEditDrawerShow" v-click-outside="drawerClickOutside" fixed temporary
                        right width="80%" class="elevation-24">
                        <v-form ref="editForm" lazy-validation>
                            <!--抽屉标题-->
                           
                            <v-row no-gutters>
                              <span class="text-h7 font-weight-bold pa-4">修改信息</span>
                              </v-row>
                              <v-divider class="jh-divider"></v-divider>
                            <!--抽屉表单-->
                            <v-row class="mt-0 px-6">
                               
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label"><span class="red--text">*</span>项目名称</span>
                                <v-text-field :rules="requireRules" class="jh-v-input " dense filled single-line v-model="editItem.projectName"></v-text-field>
                              </v-col> 
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label">项目图标</span>
                                <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.projectIcon"></v-text-field>
                              </v-col>
                               
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label">项目分组</span>
                                <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.projectGroup"></v-text-field>
                              </v-col> 

                              <v-col cols="12" sm="12" md="4">
                                <span class="jh-input-label">项目开始时间</span>
                                <!-- 时间选择 -->
                                <v-menu ref="projectStartAtMenu" v-model="isProjectStartAtMenuShown" :close-on-content-click="false" :nudge-right="40" :return-value.sync="editItem.projectStartAt" transition="scale-transition" offset-y min-width="auto">
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field append-icon="mdi-calendar" class="jh-v-input" dense single-line filled v-model="editItem.projectStartAt" v-bind="attrs" v-on="on"></v-text-field>
                                  </template>
                                  <v-date-picker v-model="editItem.projectStartAt" no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="isProjectStartAtMenuShown = false">取消</v-btn>
                                    <v-btn text color="primary" @click="$refs.projectStartAtMenu.save(editItem.projectStartAt)">确定</v-btn>
                                  </v-date-picker>
                                </v-menu>
                              </v-col>
                               
                              <v-col cols="12" sm="12" md="4">
                                <span class="jh-input-label">项目截止时间</span>
                                <v-menu ref="projectStartEndMenu" v-model="isProjectEndAtMenuShown" :close-on-content-click="false" :nudge-right="40" :return-value.sync="editItem.projectEndAt" transition="scale-transition" offset-y min-width="auto">
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-text-field append-icon="mdi-calendar" class="jh-v-input" dense single-line filled v-model="editItem.projectEndAt" v-bind="attrs" v-on="on"></v-text-field>
                                  </template>
                                  <v-date-picker v-model="editItem.projectEndAt" no-title scrollable>
                                    <v-spacer></v-spacer>
                                    <v-btn text color="primary" @click="isProjectEndAtMenuShown = false">取消</v-btn>
                                    <v-btn text color="primary" @click="$refs.projectStartEndMenu.save(editItem.projectEndAt)">确定</v-btn>
                                  </v-date-picker>
                                </v-menu>
                              </v-col>
                              
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label">项目描述</span>
                                <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.projectDesc"></v-text-field>
                              </v-col> 
                              <v-col cols="12" sm="12" md="4" xl="3">
                                <span class="jh-input-label">项目成员列表</span>
                                <v-autocomplete multiple :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="editItem.taskMemberIdList"></v-autocomplete>
                              </v-col>
                            </v-row>
                            <!--抽屉操作按钮-->
                            <v-row class="justify-end mx-0 mt-8 px-6">
                                <v-btn color="success" small @click="doUiAction('updateItem')">保存</v-btn>
                                <v-btn class="ml-2" small @click="isEditDrawerShow = false">取消
                                </v-btn>
                            </v-row>
                        </v-form>
    
                        <!--抽屉关闭按钮-->
                        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
                            @click="isEditDrawerShow = false">
                            <v-icon>mdi-close</v-icon>
                        </v-btn>
                    </v-navigation-drawer>
                </div>
    
                <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
                <v-navigation-drawer v-model="isHelpPageDrawerShow" v-click-outside="drawerClickOutside" fixed temporary
                    right width="80%" class="elevation-24">
                    <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc#1.classList.md`" width="100%"
                        height="100%"></iframe>
    
                    <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn"
                        @click="isHelpPageDrawerShow = false">
                        <v-icon>mdi-close</v-icon>
                    </v-btn>
                </v-navigation-drawer>
                <!-- <<<<<<<<<<<<< 帮助页抽屉 -->
    
            </v-main>
        </v-app>
    
        <jh-toast />
        <jh-mask />
        <jh-confirm-dialog />
    
    </div>
</script>

<div id="app">
</div>

{% endblock %}
{% block vueScript %}

<!-- 加载页面组件 >>>>>>>>>>>>> -->
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
<!-- <<<<<<<<<<<<< 加载页面组件 -->
<script type="module">
  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      // 面包屑
      breadcrumbs: [
        {
          text: '项目管理',
          disabled: true,
        }
      ],
      isHelpPageDrawerShow: false,
      isTableZebraLineShown: true,
      // 表格相关数据
      isFormValid: true,
      requireRules: [
        v => !!v || '必填',
      ],
      constantCollection: {
      },
      serverSearchInput: {
        studentId: null,
        classId: null
      },
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        { text: "项目ID", value: "projectId", width: 120 },
        { text: "项目名称", value: "projectName", width: 120 },
        { text: "项目图标", value: "projectIcon", width: 120 },
        { text: "项目开始时间", value: "projectStartAt", width: 120 },
        { text: "项目截止时间", value: "projectEndAt", width: 120 },
        { text: "项目描述", value: "projectDesc", width: 120 },
        { text: "项目成员列表", value: "projectMemberIdList", width: 120 },
        { text: "项目分组", value: "projectGroup", width: 120 },
        { text: "项目创建时间", value: "projectCreateAt", width: 120 },
        { text: "是否删除;是,否", value: "isDelete", width: 120 },
        { text: "是否归档;是,否", value: "isArchive", width: 120 },
        { text: "是否星标项目;是,否", value: "isMark", width: 120 },
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 250, class: 'fixed', cellClass: 'fixed' },

      ],
      isEditDrawerShow: false,
      editItem: {},
      isAddDrawerShow: false,
      addItem: {},
      tableButtonList: [
        { text: '修改', buttonType: 'edit', color: 'success', action: 'startUpdateItem' },
        { text: '删除', buttonType: 'delete', color: 'error', action: 'deleteItem' },
        { text: '任务', buttonType: 'path', color: 'warning', path: 'taskManagementOfOneProject', action: 'redirect' }
      ],

      isProjectEndAtMenuShown: false,
      isProjectStartAtMenuShown: false,
      userList: [],
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      tableData() {
        return this.tableDataFromBackend;
      },
    },
    watch: {},
    async created() {
      await this.doUiAction('refreshTableData');
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            break;
          case 'createItem':
            await this.prepareCreateValidate();
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            await this.prepareEditValidate();
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          case 'redirect':
            await this.doRedirect(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const serverSearchInput = _.pickBy(this.serverSearchInput, value => !!value);
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'projectManagement',
              actionId: 'selectItemList',
              actionData: {},
              where: {},
              whereLike: serverSearchInput,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;

        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },
      async getUserList() {
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'getUserList',
              actionData: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;
        this.userList = rows;
      },

      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {
        this.addItem = {};
      },

      async openCreateItemDialog() {
        this.isAddDrawerShow = true;
      },

      // 表单验证
      async prepareCreateValidate() {
        if (await this.$refs.createForm.validate() === false) {
          throw new Error("[prepareCreateValidate] false");
        }
      },
      async prepareEditValidate() {
        if (await this.$refs.editForm.validate() === false) {
          throw new Error("[prepareEditValidate] false");
        }
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("取消");
        }
      },

      async doCreateItem() {
        const { id, ...data } = this.addItem;
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'projectManagement',
              actionId: 'insertItem',
              actionData: data,
              bizIdGenerate: {
                tableName: "project",
                prefix: "XM",
                type: "idSequence",
                bizId: "projectId",
              },
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
        this.isAddDrawerShow = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
      */
      async prepareItemData({ item }) {
        this.editItem = { ...item };
      },

      async openUpdateDialog() {
        this.isEditDrawerShow = true;
      },

      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({ title: "修改", content: "确定修改吗？" }) === false) {
          throw new Error("取消");
        }
      },

      async doUpdateItem() {
        const { id, ...data } = this.editItem;
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'projectManagement',
              actionId: 'updateItem',
              actionData: data,
              where: { id }
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({ title: "删除", content: "确定删除吗？" }) === false) {
          throw new Error("取消");
        }
      },

      async doDeleteItem({ item }) {
        const { id } = item;
        await window.vtoast.loading("删除数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'projectManagement',
              actionId: 'deleteItem',
              actionData: {},
              where: { id: id }
            }
          }
        });
        await window.vtoast.success("删除数据成功");
      },

      /**
       * uiActionId:  doRedirect
       * description: ✅获取表格数据
      */
      async doRedirect({ item, button }) {
        // todo：请在生成后将下列的 title 参数改成获取你要展示的字段，如 className
        if (button.path.startsWith('http')) {
          window.location.href = `${button.path}?projectId=${item.projectId}&title=${item.projectId}`
        } else {
          window.location.href = `/${window.appInfo.appId}/page/${button.path}?projectId=${item.projectId}&title=${item.projectId}`
        }
      },
      getConstantCollectionItemText(key, _value) {
        const constantCollectionItemFind = this.constantCollection[key].find(({ value }) => value === _value);
        if (constantCollectionItemFind) {
          return constantCollectionItemFind.text;
        }
        return _value;
      }
    }
  })
</script>

<style scoped>
</style>
{% endblock %}