{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<!-- 3 table：指定某个 project，管理 task 的页面 -->



<script type="text/html" id="app-template">
  <div>
    <v-app id="inspire" mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="d-flex flex-column" style="margin-top: 60px">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="pageSecondBar d-flex px-8"><div>
            <div class="appTitle pt-3" style="font-size: 18px; font-weight: 700">
              项目详情
              <!-- 帮助页按钮 -->
              <v-icon @click="isHelpPageDrawerShow = true" small>mdi-help-circle-outline</v-icon>
            </div>
            <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
          </div>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->
        <div class="pageBodyContainer px-8" style="flex: 1;">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
            <v-card>
            <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 ">
          
                <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-2">
                  <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
                </v-col>
          
                <v-spacer></v-spacer>
                <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pr-2 col-sm-8-flex">
                  <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
                </v-col>
              </v-row>
              <v-data-table 
                  fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                  :items-per-page="20"
                  mobile-breakpoint="0"
                  :loading="isTableLoading"
                  checkbox-color="success" 
                  :class="{'zebraLine': showTableZebraLine }"
                  class="fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
                <template v-slot:footer.prepend>
                  <span class="ml-2 table-search-hint-text">共{{ tableData.length }}条记录</span>
                  <v-menu top offset-y :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon>
                        <v-icon>mdi-menu</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item>
                        <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
                <template v-slot:footer.page-text="pagination">
                  <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                  <span class="ml-1">共{{pagination.itemsLength}}条</span>
                </template>
                <template v-slot:item.operationAt="{ item }">
                  {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
                </template>
                <template v-slot:item.action="{ item }">
                  <v-btn v-for="tableButton of tableButtonList" :color="tableButton.color" outlined x-small class="elevation-0 mr-2" @click="doUiAction(tableButton.action, {item, button: tableButton})">{{ tableButton.text }}</v-btn>
                </template>
              </v-data-table>
            </v-card>
          </v-container>
          <!-- 新增 -->
          <v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%" class="elevation-24">
            <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="createForm" lazy-validation>
              <!--抽屉标题-->
              <v-row no-gutters>
              <span class="text-h7 font-weight-bold pa-4">新增信息</span>
              </v-row>
              <v-divider class="jh-divider"></v-divider>
              <!--抽屉表单-->
              <v-row class="ma-0">
                 
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel"><span class="red--text">*</span>任务名称</span>
                  <v-text-field :rules="requireRules" class="jh-v-input " dense filled single-line v-model="addItem.taskTitle"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务描述</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskDesc"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务优先级</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskLevel"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务标签</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskTag"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务状态</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskStatus"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务类型:</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskType"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务内容</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskContent"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务创建时间</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskCreateAt"></v-text-field>
                </v-col>
                 
                
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务开始时间</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskStartAt"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务结束时间</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskEndAt"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">负责人id</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskManagerId"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">参与人id</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskMemberIdList"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">子任务列表</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskChildList"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务关联的信息列表</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskRelationList"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务关联的附件列表</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="addItem.taskFileList"></v-text-field>
                </v-col>
                 
              </v-row>
              <!--抽屉操作按钮-->
              <v-row class="mx-0 justify-end mt-4">
                <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
                <v-btn class="elevation-0 ml-2" @click="isAddDrawerShow = false" small>取消</v-btn>
              </v-row>
            </v-form>
            <!--抽屉关闭按钮-->
            <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isAddDrawerShow = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>
          
          
          <!-- 编辑抽屉 -->
          <v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerShow" fixed temporary right width="80%" class="elevation-24">
            <v-form v-model="isFormValid" v-if="isEditDrawerShow" ref="editForm" lazy-validation>
              <!--抽屉标题-->
              <v-row no-gutters>
                <span class="text-h7 font-weight-bold pa-4">编辑信息</span>
                </v-row>
                <v-divider class="jh-divider"></v-divider>
             
              <!--抽屉表单-->
              <v-row class="ma-0">
                 
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel"><span class="red--text">*</span>任务名称</span>
                  <v-text-field :rules="requireRules" class="jh-v-input " dense filled single-line v-model="editItem.taskTitle"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务描述</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskDesc"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务优先级</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskLevel"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务标签</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskTag"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务状态</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskStatus"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务类型:</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskType"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务内容</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskContent"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务创建时间</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskCreateAt"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务开始时间</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskStartAt"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务结束时间</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskEndAt"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">负责人id</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskManagerId"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">参与人id</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskMemberIdList"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">子任务列表</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskChildList"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务关联的信息列表</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskRelationList"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">任务关联的附件列表</span>
                  <v-text-field class="jh-v-input " dense filled single-line v-model="editItem.taskFileList"></v-text-field>
                </v-col>
                 
              </v-row>
              <!--抽屉操作按钮-->
              <v-row class="mx-0 justify-end mt-4">
                <v-btn color="success" @click="doUiAction('updateItem')" small>保存</v-btn>
                <v-btn class="elevation-0 ml-2" @click="isEditDrawerShow = false" small>取消</v-btn>
              </v-row>
            </v-form>
            <!--抽屉关闭按钮-->
            <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isEditDrawerShow = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>
          <!-- <<<<<<<<<<<<< 页面内容 -->
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShow" fixed temporary right width="80%" class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc?markdownPath#`" width="100%" height="100%"></iframe>
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShow = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />
  </div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}
<script type="module">

  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      projectId: null,
      breadcrumbs: [
        {
          text: '项目详情',
          disabled: true,
        }
      ],
      showTableZebraLine: true,
      isHelpPageDrawerShow: false,
      title: null,
      searchInput: null,
      isTableLoading: true,
      headers: [
         
        { text: '任务Id;', value: 'taskId', width: 120 }, 
        { text: '任务名称;', value: 'taskTitle', width: 120 }, 
        { text: '任务描述;', value: 'taskDesc', width: 120 }, 
        { text: '任务优先级;无,低,中,高', value: 'taskLevel', width: 120 }, 
        { text: '任务标签;', value: 'taskTag', width: 120 }, 
        { text: '任务状态;未开始进行中,已完成', value: 'taskStatus', width: 120 }, 
        { text: '任务类型:;公告,任务,审批,日志', value: 'taskType', width: 120 }, 
        { text: '任务内容;富文本', value: 'taskContent', width: 120 }, 
        { text: '任务创建时间;', value: 'taskCreateAt', width: 120 }, 
        { text: '任务开始时间;', value: 'taskStartAt', width: 120 }, 
        { text: '任务结束时间;', value: 'taskEndAt', width: 120 }, 
        { text: '负责人id;只能一个', value: 'taskManagerId', width: 120 }, 
        { text: '参与人id;可能多个', value: 'taskMemberIdList', width: 120 }, 
        { text: '子任务列表', value: 'taskChildList', width: 120 }, 
        { text: '任务关联的信息列表', value: 'taskRelationList', width: 120 }, 
        { text: '任务关联的附件列表', value: 'taskFileList', width: 120 }, 
        { text: "操作者", value: "operationByUser", width: 120 },
        { text: "操作时间", value: "operationAt", width: 250 },
        { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },

      ],
      tableButtonList: [
        {text: '编辑', buttonType: 'edit', color: 'success', action: 'startUpdateItem'},
        {text: '删除', buttonType: 'delete', color: 'error', action: 'deleteItem'},
      ],
      drawerHeaders: [
        { text: '任务名称;', value: 'taskTitle', width: 120 }, 
        { text: '任务描述;', value: 'taskDesc', width: 120 }, 
        { text: '任务优先级;无,低,中,高', value: 'taskLevel', width: 120 }, 
        { text: '任务标签;', value: 'taskTag', width: 120 }, 
        { text: '任务状态;未开始进行中,已完成', value: 'taskStatus', width: 120 }, 
        { text: '任务类型:;公告,任务,审批,日志', value: 'taskType', width: 120 }, 
        { text: '任务内容;富文本', value: 'taskContent', width: 120 }, 
        { text: '任务创建时间;', value: 'taskCreateAt', width: 120 }, 
        { text: '任务开始时间;', value: 'taskStartAt', width: 120 }, 
        { text: '任务结束时间;', value: 'taskEndAt', width: 120 }, 
        { text: '负责人id;只能一个', value: 'taskManagerId', width: 120 }, 
        { text: '参与人id;可能多个', value: 'taskMemberIdList', width: 120 }, 
        { text: '子任务列表', value: 'taskChildList', width: 120 }, 
        { text: '任务关联的信息列表', value: 'taskRelationList', width: 120 }, 
        { text: '任务关联的附件列表', value: 'taskFileList', width: 120 }, 
        { text: "操作者", value: "operationByUser", width: 120 },
      ],
      tableDataFromBackend: [],
      isFormValid: true,
        requireRules: [
        v => !!v || 'This is required',
      ],
      constantCollection: {},
      isEditDrawerShow: false,
      editItem: {},
      isAddDrawerShow: false,
      addItem: {},
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      // 表格内容，即当前项目下的任务
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {},
    async created() {
      const urlParams = new URLSearchParams(location.search);
      const projectId = urlParams.get('projectId');
      const title = urlParams.get('title');
      if (projectId && title) {
        this.projectId = projectId;
        this.title = title;
      } else {
        setTimeout(() => {
            window.vtoast.fail('请从"项目列表"点击"任务"进入');
        }, 1000);
        return;
      }
      this.doUiAction('refreshTableData');
    },
    mounted() {
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            break;
          case 'createItem':
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startUpdateItem':
            await this.prepareItemData(uiActionData);
            await this.openUpdateDialog();
            break;
          case 'updateItem':
            await this.confirmUpdateItemDialog();
            await this.doUpdateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'selectCurrentList',
              where: { projectId: this.projectId },
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        this.tableDataFromBackend = result.data.appData.resultData.rows;
        this.isTableLoading = false;
      },

      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {
        this.addItem = {};
        this.addItem['projectId'] = this.projectId;
      },

      async openCreateItemDialog() {
        this.isAddDrawerShow = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
          throw new Error("取消");
        }
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        const {id, ...data} = this.addItem;
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'insertItem',
              actionData: {...data, projectId: this.projectId},
              bizIdGenerate: {
                tableName: "task",
                prefix: "RW",
                type: "idSequence",
                bizId: "taskId",
              },
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
        this.isAddDrawerShow = false;
      },

      /**
       * uiActionId:  startUpdateItem
       * description: ✅获取表格数据
      */
      async prepareItemData({item}) {
        this.editItem = {...item};
      },

      async openUpdateDialog() {
        this.isEditDrawerShow = true;
      },


      /**
       * uiActionId:  updateItem
       * description: ✅获取表格数据
      */
      async confirmUpdateItemDialog() {
        if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
          throw new Error("取消");
        }
      },

      async doUpdateItem() {
        const {id, ...data} = this.editItem;
        await window.vtoast.loading("修改数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'updateItem',
              actionData: data,
              where: {id: id}
            }
          }
        })
        await window.vtoast.success("修改数据成功");
      },

      /**
       * uiActionId:  deleteItem
       * description: ✅获取表格数据
      */
      async confirmDeleteItemDialog() {
        if (await window.confirmDialog({title: "确认将任务从项目删除？"}) === false) {
          throw new Error("取消");
        }
      },
      async doDeleteItem({ item }) {
        window.vtoast.loading("删除中");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'deleteItem',
              where: { id: item.id }
            }
          }
        });
        window.vtoast.success("删除成功");
      },
      dayjs: dayjs,
    }
  })
</script>
{% endblock %}
