{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<!-- 3 table：指定某个 project，管理 task 的页面 -->



<script type="text/html" id="app-template">
  <div>
    <v-app id="inspire" mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="d-flex flex-column" style="margin-top: 60px">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="pageSecondBar d-flex px-8"><div>
            <div class="appTitle pt-3" style="font-size: 18px; font-weight: 700">
              项目详情
              <!-- 帮助页按钮 -->
              <v-icon @click="isHelpPageDrawerShow = true" small>mdi-help-circle-outline</v-icon>
            </div>
            <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
          </div>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->
        <div class="pageBodyContainer px-8" style="flex: 1;">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
            <v-card>
            <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 ">
          
                <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-2">
                  <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
                </v-col>
          
                <v-spacer></v-spacer>
                <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pr-2 col-sm-8-flex">
                  <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
                </v-col>
              </v-row>
              <v-data-table 
                  fixed-header
                  :headers="headers"
                  :items="tableData"
                  :search="searchInput"
                  :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                  :items-per-page="20"
                  mobile-breakpoint="0"
                  :loading="isTableLoading"
                  checkbox-color="success" 
                  :class="{'zebraLine': showTableZebraLine }"
                  class="fixed-table-height elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
                <template v-slot:footer.prepend>
                  <span class="ml-2 table-search-hint-text">共{{ tableData.length }}条记录</span>
                  <v-menu top offset-y :close-on-content-click="false">
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn v-bind="attrs" v-on="on" icon>
                        <v-icon>mdi-menu</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item>
                        <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
                <template v-slot:footer.page-text="pagination">
                  <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                  <span class="ml-1">共{{pagination.itemsLength}}条</span>
                </template>
                <template v-slot:item.taskTitle="{ item }">
                  <a @click="doUiAction('startUpdateTask', { item })">{{ item.taskTitle }}</a>
                </template>
                <template v-slot:item.taskStatus="{ item }">
                  <v-select :items="constantObj.taskStatus" v-model="item.taskStatus"class="jh-v-input" dense filled single-line @change="doUiAction('updateTask', { key: 'taskStatus', value: $event, item })">
                    <template v-slot:item="{ item }">
                      <v-chip :color="item.color" dark x-small>{{item.text}}</v-chip>
                    </template>
                    <template v-slot:selection="{ item }">
                      <v-chip :color="item.color" dark x-small>{{item.text}}</v-chip>
                    </template>
                    
                  </v-select>
                </template>
                <template v-slot:item.taskLevel="{ item }">
                  <v-select :items="constantObj.taskLevel" v-model="item.taskLevel"class="jh-v-input" dense filled single-line @change="doUiAction('updateTask', { key: 'taskLevel', value: $event, item })">
                    <template #prepend-inner>
                      <v-icon :color="constantObj.taskLevel.find(l=> l.text==item.taskLevel).color">mdi-circle-medium</v-icon>
                    </template>
                    <template v-slot:item="{ item }">
                      <v-icon :color="item.color">mdi-circle-medium</v-icon>
                      <span>{{item.text}}</span>
                    </template>
                  </v-select>
                </template>
                <template v-slot:item.taskManagerId="{ item }">
                
                  <v-autocomplete :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="item.taskManagerId" @change="doUiAction('updateTask', { key: 'taskManagerId', value: $event, item })"></v-autocomplete>
                </template>
                <template v-slot:item.taskStartAt="{ item }">
                  <v-menu 
                    v-model="item.isStartAtMenuShown" 
                    :close-on-content-click="false"
                    :nudge-right="40" 
                    transition="scale-transition" 
                    offset-y 
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field 
                        class="jh-v-input" 
                        dense 
                        single-line 
                        filled 
                        v-model="item.taskStartAt" 
                        v-bind="attrs" 
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="item.taskStartAt" @change="doUiAction('updateTask', { key: 'taskStartAt', value: $event, item })" no-title scrollable></v-date-picker>
                  </v-menu>
                </template>
                <template v-slot:item.taskEndAt="{ item }">
                  <v-menu 
                    v-model="item.isEndAtMenuShown" 
                    :close-on-content-click="false"
                    :nudge-right="40" 
                    transition="scale-transition" 
                    offset-y 
                    min-width="auto"
                    
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field 
                        class="jh-v-input" 
                        dense 
                        single-line 
                        filled 
                        v-model="item.taskEndAt" 
                        v-bind="attrs" 
                        v-on="on"
                        
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="item.taskEndAt" @change="doUiAction('updateTask', { key: 'taskEndAt', value: $event, item })" no-title scrollable></v-date-picker>
                  </v-menu>
                </template>

                <template v-slot:item.action="{ item }">
                  <v-btn v-for="tableButton of tableButtonList" :color="tableButton.color" outlined x-small class="elevation-0 mr-2" @click="doUiAction(tableButton.action, {item, button: tableButton})">{{ tableButton.text }}</v-btn>
                </template>
              </v-data-table>
            </v-card>
          </v-container>
          <!-- 新增 -->
          <v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%" class="elevation-24">
            <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="createForm" lazy-validation>
              <!--抽屉标题-->
              <v-row no-gutters>
              <span class="text-h7 font-weight-bold pa-4">新增信息</span>
              </v-row>
              <v-divider class="jh-divider"></v-divider>
              <!--抽屉表单-->
              <v-row class="ma-0">
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel"><span class="red--text">*</span>任务名称</span>
                  <v-text-field :rules="requireRules" class="jh-v-input " dense filled single-line v-model="addItem.taskTitle"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="12" xl="12">
                  <span class="inputLabel">任务内容</span>
             
                  <div id="editorMdContainer" class="mb-0">
                    <textarea style="display:none;">{{ addItem.taskContent }}</textarea>
                  </div>
                </v-col>

                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">开始时间</span>
                  <v-menu 
                    v-model="isStartAtMenuShown" 
                    :close-on-content-click="false"
                    :nudge-right="40" 
                    transition="scale-transition" 
                    offset-y 
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field 
                        append-icon="mdi-calendar" 
                        class="jh-v-input" 
                        dense 
                        single-line 
                        filled 
                        v-model="addItem.taskStartAt" 
                        v-bind="attrs" 
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="addItem.taskStartAt" no-title scrollable></v-date-picker>
                  </v-menu>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">结束时间</span>
                  <v-menu 
                    v-model="isEndAtMenuShown" 
                    :close-on-content-click="false"
                    :nudge-right="40" 
                    transition="scale-transition" 
                    offset-y 
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field 
                        append-icon="mdi-calendar" 
                        class="jh-v-input" 
                        dense 
                        single-line 
                        filled 
                        v-model="addItem.taskEndAt" 
                        v-bind="attrs" 
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="addItem.taskEndAt" no-title scrollable></v-date-picker>
                  </v-menu>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">优先级</span>
                  <v-autocomplete :items="constantObj.taskLevel" class="jh-v-input" dense single-line filled v-model="addItem.taskLevel"></v-autocomplete>
                </v-col>

                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">处理人</span>
                  <v-autocomplete :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="addItem.taskManagerId"></v-autocomplete>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">团队成员</span>
                  <v-autocomplete multiple :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="addItem.taskMemberIdList"></v-autocomplete>
                </v-col>

                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">状态</span>
                  <v-autocomplete :items="constantObj.taskStatus" class="jh-v-input" dense single-line filled v-model="addItem.taskStatus"></v-autocomplete>
                </v-col>
              </v-row>
              <!--抽屉操作按钮-->
              <v-row class="mx-0 justify-end mt-4">
                <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
                <v-btn class="elevation-0 ml-2" @click="isAddDrawerShow = false" small>取消</v-btn>
              </v-row>
            </v-form>
            <!--抽屉关闭按钮-->
            <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isAddDrawerShow = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>
          
          <task-detail-drawer :user-list="userList" ref="taskDetail" @save="doUiAction('refreshTableData')" />
          <!-- <<<<<<<<<<<<< 页面内容 -->
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShow" fixed temporary right width="80%" class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc?markdownPath#`" width="100%" height="100%"></iframe>
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShow = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />
  </div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}
{% include 'common/constant.html' %}
{% include 'component/task-detail-drawer.html' %}

<!-- 加载页面静态资源 >>>>>>>>>>>>> -->
<link rel="stylesheet" href="/<$ ctx.app.config.appId $>/public/plugins/editor.md/css/editormd.min.css" />
<link href="/<$ ctx.app.config.appId $>/public/articleViewer/font-awesome.min.css?v=6.0.0" />
<script src="/<$ ctx.app.config.appId $>/public/lib/jquery/jquery.min.js"></script>
<script src="/<$ ctx.app.config.appId $>/public/plugins/editor.md/editormd.js"></script>
<!-- <<<<<<<<<<<<< 加载页面静态资源 -->
<script type="module">

  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      projectId: null,
      breadcrumbs: [
        {
          text: '项目详情',
          disabled: true,
        }
      ],
      showTableZebraLine: true,
      isHelpPageDrawerShow: false,
      title: null,
      searchInput: null,
      isTableLoading: true,
      headers: [
        { text: '任务ID', value: 'taskId', width: 0 },
        { text: '任务名称', value: 'taskTitle', width: 120 },
        { text: '优先级', value: 'taskLevel', width: 120 },
        { text: '状态', value: 'taskStatus', width: 120 },
        { text: '处理人', value: 'taskManagerId', width: 120 },
        { text: '开始时间', value: 'taskStartAt', width: 120 },
        { text: '截止日期', value: 'taskEndAt', width: 120 },
      ],
      tableButtonList: [
        { text: '编辑', buttonType: 'edit', color: 'success', action: 'startUpdateTask' },
        { text: '删除', buttonType: 'delete', color: 'error', action: 'deleteItem' },
      ],
      drawerHeaders: [
        { text: '任务Id', value: 'taskId', width: 120 },
        { text: '任务名称', value: 'taskTitle', width: 120 },
        { text: '优先级', value: 'taskLevel', width: 120 },
        { text: '状态', value: 'taskStatus', width: 120 },

        { text: '处理人', value: 'taskManagerId', width: 120 },
        { text: '开始时间', value: 'taskStartAt', width: 120 },
        { text: '截止日期', value: 'taskEndAt', width: 120 },
      ],
      tableDataFromBackend: [],
      isFormValid: true,
      requireRules: [
        v => !!v || '必填',
      ],
      constantCollection: {},
      isAddDrawerShow: false,
      addItem: {},

      constantObj: constantObj,
      isStartAtMenuShown: false,
      isEndAtMenuShown: false,

      userList: []
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      // 表格内容，即当前项目下的任务
      tableData() {
        return this.tableDataFromBackend;
      }
    },
    watch: {},
    async created() {
      const urlParams = new URLSearchParams(location.search);
      const projectId = urlParams.get('projectId');
      const title = urlParams.get('title');
      if (projectId && title) {
        this.projectId = projectId;
        this.title = title;
      } else {
        setTimeout(() => {
          window.vtoast.fail('请从"项目列表"点击"任务"进入');
        }, 1000);
        return;
      }
      this.doUiAction('refreshTableData');
      this.doUiAction('getUserList')
    },
    mounted() {
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            await this.initEditorMd();
            break;
          case 'createItem':
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startUpdateTask':
            await this.$refs.taskDetail.doUiAction('open', uiActionData.item);
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          case 'getUserList':
            await this.getUserList(uiActionData);
            break;
          case 'updateTask':
            await this.updateTask(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'selectCurrentList',
              where: { projectId: this.projectId },
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        let rows = result.data.appData.resultData.rows

        rows.forEach(row => {
          row.taskMemberIdList = row.taskMemberIdList ? row.taskMemberIdList.split(',') : []
        })
        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },

      async getUserList() {
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'getUserList',
              actionData: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;
        this.userList = rows;
      },

      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {

        const { userId } = window.userInfo
        this.addItem = {
          taskLevel: '无',
          projectId: this.projectId,
          taskManagerId: userId,
          taskMemberIdList: [userId],
          taskStatus: '未开始',
        };
      },

      async openCreateItemDialog() {
        this.isAddDrawerShow = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("取消");
        }
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        const { id, ...data } = this.addItem;
        data.taskMemberIdList = data.taskMemberIdList.join(',')
        data.taskCreateAt = dayjs().format('YYYY-MM-DD HH:mm:ss')
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'insertItem',
              actionData: { ...data, projectId: this.projectId },
              bizIdGenerate: {
                tableName: "task",
                prefix: "RW",
                type: "idSequence",
                bizId: "taskId",
              },
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
        this.isAddDrawerShow = false;
      },

      // ---------- 更新任务 >>>>>>>>>>>>> ----------
      async updateTask({ value, item, key }) {
        const { id } = item;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'updateItem',
              actionData: { [key]: value },
              where: { id }
            },
          }
        })
      },
      // ---------- <<<<<<<<<<<<< 更新任务 ----------

      // ---------- 编辑器 >>>>>>>>>>>>> ----------
      async initEditorMd() {
        const that = this;
        document.getElementById('editorMdContainer').innerHTML = `<textarea style=\"display:none;\">${this.addItem['taskContent'] || ""}</textarea>`;

        that.editor = editormd('editorMdContainer', {
          height: 300,
          watch: false,
          saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
          path: '/<$ ctx.app.config.appId $>/public/plugins/editor.md/lib/',
          onchange: function (val) {
            console.log('editorMdContainer:', val);
          },
        });
      },
      // ---------- <<<<<<<<<<<<< 编辑器 ----------
    }
  })
</script>

<style scoped>
  /* 移入显示下划线 */
  a:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}