{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<!-- 3 table：指定某个 project，管理 task 的页面 -->



<script type="text/html" id="app-template">
  <div>
    <v-app id="inspire" mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="d-flex flex-column" style="margin-top: 60px">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
            <v-row class="justify-space-between">
              <v-col cols="12" xs="12" sm="12" md="4">
                <div class="pt-3 text-h7 font-weight-bold">项目详情
                  <!-- 帮助页按钮 -->
                  <v-icon @click="isHelpPageDrawerShown = true" color="success" small>mdi-help-circle-outline
                  </v-icon>
                </div>
                <v-breadcrumbs class="pb-3 pt-0 pl-0" :items="breadcrumbs" divider="-"></v-breadcrumbs>
              </v-col>
             <!-- 搜索条件表单 >>>>>>>> -->
             <v-col cols="12" xs="12" sm="12" md="8" class="d-flex align-center">
              <v-row no-gutters class=" justify-end">
                <v-col cols="12" xs="12" md="2" class="pr-2 mb-2 mb-sm-0">
                  <v-select clearable v-model="serverSearchInput.taskStatus" color="success" prefix="状态：" class="jh-v-input bg-white" :items="constantObj.taskStatus" dense filled single-line></v-select>
                </v-col>
                <v-col cols="12" xs="12" md="2" class="pr-2 mb-2 mb-sm-0">
                  <v-select clearable v-model="serverSearchInput.taskLevel" color="success" prefix="优先级：" class="jh-v-input bg-white" :items="constantObj.taskLevel" dense filled single-line></v-select>
                </v-col>
                <v-col cols="12" xs="12" md="2" class="pr-2 mb-2 mb-sm-0">
                  <v-select clearable v-model="serverSearchInput.taskTag" color="success" prefix="标签：" class="jh-v-input bg-white" :items="constantObj.taskTag" dense filled single-line></v-select>
                </v-col>
                <v-col cols="12" xs="12" md="2" class="pr-2 mb-2 mb-sm-0">
                  <v-select clearable v-model="serverSearchInput.taskManagerId" color="success" prefix="负责人：" class="jh-v-input bg-white" :items="constantObj.taskManagerId" dense filled single-line></v-select>
                </v-col>
                <v-btn class="jh-backend-search-btn" color="success" small @click="doUiAction('refreshTableData')">
                  查询
                </v-btn>
              </v-row>
            </v-col>
            </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->
        <div class="pageBodyContainer px-8" style="flex: 1;">
          <!-- 页面内容 >>>>>>>>>>>>> -->
          <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
            <v-row>
              <v-col cols="12" md="2">
                <v-row no-gutters>
                  <v-col cols="12" md="12">
                    <v-card class="pb-4">
                      <v-list-item>
                        <v-list-item-title class="font-weight-bold text-body-1">项目公告</v-list-item-title>
                    
                        <v-list-item-action>
                         <div class="d-flex align-center blue--text">
                          <a @click="doUiAction('startAddAffiche')"><v-icon color="blue">mdi-plus</v-icon></a>
                         </div>
                        </v-list-item-action>
                      </v-list-item>
                      <div class="ma-4 pa-4" style="background-color: #f4f5f7;">
                        <div v-if="latestAffiche">
                          <p class="ma-0">{{latestAffiche.username}}</p>
                          <p class="ma-0 text-caption grey--text">{{latestAffiche.createAt}}</p>
                          <p class="ma-0 font-weight-bold mt-2">{{latestAffiche.content}}</p>
                        </div>
                        <span v-else>暂无公告</span>

                      </div>
                    </v-card>
                  </v-col>
                  <v-col cols="12" md="12" class="mt-4">
                    <v-card class="pb-4">
                      <v-list-item>
                        <v-list-item-title class="font-weight-bold text-body-1">项目基本信息</v-list-item-title>
                        
                      </v-list-item>
                      <div class="ma-4 pa-4" style="background-color: #f4f5f7;">
                        <v-row no-gutters v-if="projectDetail.id">
                        <v-col cols="12" sm="12" md="12">
                          <span class="jh-input-label grey--text">项目名称</span>
                          <div>{{projectDetail.projectName || '-'}}</div>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                          <span class="jh-input-label grey--text">项目周期</span>
                          <div>{{projectDetail.projectStartAt}}至{{projectDetail.projectEndAt}}</div>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                          <span class="jh-input-label grey--text">管理员</span>
                          <div>{{projectDetail.projectManagerId || '-'}}</div>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                          <span class="jh-input-label grey--text">项目进度</span>
                          <div class="d-flex align-center">
                            <v-progress-linear height="8" :value="(projectDetail.completedTasks/projectDetail.totalTasks)*100"></v-progress-linear>
                            <span class="ml-2 font-weight-bold">{{parseInt((projectDetail.completedTasks/projectDetail.totalTasks)*100) || 0}}%</span>
                          </div>

                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                          <span class="jh-input-label grey--text">项目成员</span>
                          <div>{{projectDetail.projectMemberIdList || '-'}}</div>
                        </v-col>
                        <v-col cols="12" sm="12" md="12">
                          <span class="jh-input-label grey--text">项目描述</span>
                          <div>{{projectDetail.projectDesc || '-'}}</div>
                        </v-col>
                      </v-row>
                      </div>
                    </v-card>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="10">
                <v-card>
                  <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 pb-3">
                      <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-2">
                        <v-btn color="success" dark class="elevation-0 mr-2" @click="doUiAction('startCreateItem')" small>新增</v-btn>
                      </v-col>
                
                      <v-spacer></v-spacer>

                      <v-col cols="12" xs="12" sm="4" md="3" xl="2" class="pa-0 text-md-right">
                        <v-btn-toggle v-model="taskViewStyleIndex" class="mr-1 mt-2 mt-md-0" color="success" small>
                          <v-btn @click="taskViewStyle = 'list'" small>列表</v-btn>
                          <v-btn @click="taskViewStyle = 'board'" small>看板</v-btn>
                        </v-btn-toggle>
                      </v-col>
                      <v-col cols="12" xs="3" sm="3" md="2" xl="2" class="pr-2 col-sm-8-flex">
                        <v-text-field v-model="searchInput" label="表格过滤" class="jh-v-input" dense filled single-line></v-text-field>
                      </v-col>
                    </v-row>

                    <!-- table样式 -->
                    <v-data-table
                        v-show="taskViewStyle == 'list'" 
                        fixed-header
                        :headers="headers"
                        :items="tableData"
                        :search="searchInput"
                        :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                        :items-per-page="20"
                        mobile-breakpoint="0"
                        :loading="isTableLoading"
                        checkbox-color="success" 
                        :class="{'zebraLine': showTableZebraLine }"
                        class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
                      <template v-slot:footer.prepend>
                        <span class="ml-2 table-search-hint-text">共{{ tableData.length }}条记录</span>
                        <v-menu top offset-y :close-on-content-click="false">
                          <template v-slot:activator="{ on, attrs }">
                            <v-btn v-bind="attrs" v-on="on" icon>
                              <v-icon>mdi-menu</v-icon>
                            </v-btn>
                          </template>
                          <v-list>
                            <v-list-item>
                              <v-switch v-model="showTableZebraLine" label="显示斑马纹" dense flat></v-switch>
                            </v-list-item>
                          </v-list>
                        </v-menu>
                      </template>
                      <template v-slot:footer.page-text="pagination">
                        <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                        <span class="ml-1">共{{pagination.itemsLength}}条</span>
                      </template>
                      <template v-slot:item.taskTitle="{ item }">
                        <a @click="doUiAction('startUpdateTask', { item })">{{ item.taskTitle }}</a>
                      </template>
                      <template v-slot:item.taskStatus="{ item }">
                        <v-select :items="constantObj.taskStatus" v-model="item.taskStatus"class="jh-v-input" dense filled single-line @change="doUiAction('updateTask', { key: 'taskStatus', value: $event, item })">
                          <template v-slot:item="{ item }">
                            <v-chip :color="item.color" dark x-small>{{item.text}}</v-chip>
                          </template>
                          <template v-slot:selection="{ item }">
                            <v-chip :color="item.color" dark x-small>{{item.text}}</v-chip>
                          </template>
                          
                        </v-select>
                      </template>
                      <template v-slot:item.taskLevel="{ item }">
                        <v-select :items="constantObj.taskLevel" v-model="item.taskLevel"class="jh-v-input" dense filled single-line @change="doUiAction('updateTask', { key: 'taskLevel', value: $event, item })">
                          <template #prepend-inner>
                            <v-icon :color="constantObj.taskLevel.find(l=> l.text==item.taskLevel).color">mdi-circle-medium</v-icon>
                          </template>
                          <template v-slot:item="{ item }">
                            <v-icon :color="item.color">mdi-circle-medium</v-icon>
                            <span>{{item.text}}</span>
                          </template>
                        </v-select>
                      </template>
                      <template v-slot:item.taskManagerId="{ item }">
                      
                        <v-autocomplete :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="item.taskManagerId" @change="doUiAction('updateTask', { key: 'taskManagerId', value: $event, item })"></v-autocomplete>
                      </template>
                      <template v-slot:item.taskStartAt="{ item }">
                        <v-menu 
                          v-model="item.isStartAtMenuShown" 
                          :close-on-content-click="false"
                          :nudge-right="40" 
                          transition="scale-transition" 
                          offset-y 
                          min-width="auto"
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field 
                              class="jh-v-input" 
                              dense 
                              single-line 
                              filled 
                              v-model="item.taskStartAt" 
                              v-bind="attrs" 
                              v-on="on"
                            ></v-text-field>
                          </template>
                          <v-date-picker v-model="item.taskStartAt" @change="doUiAction('updateTask', { key: 'taskStartAt', value: $event, item })" no-title scrollable></v-date-picker>
                        </v-menu>
                      </template>
                      <template v-slot:item.taskEndAt="{ item }">
                        <v-menu 
                          v-model="item.isEndAtMenuShown" 
                          :close-on-content-click="false"
                          :nudge-right="40" 
                          transition="scale-transition" 
                          offset-y 
                          min-width="auto"
                          
                        >
                          <template v-slot:activator="{ on, attrs }">
                            <v-text-field 
                              class="jh-v-input" 
                              dense 
                              single-line 
                              filled 
                              v-model="item.taskEndAt" 
                              v-bind="attrs" 
                              v-on="on"
                              
                            ></v-text-field>
                          </template>
                          <v-date-picker v-model="item.taskEndAt" @change="doUiAction('updateTask', { key: 'taskEndAt', value: $event, item })" no-title scrollable></v-date-picker>
                        </v-menu>
                      </template>
      
                      <template v-slot:item.action="{ item }">
                        <v-btn v-for="tableButton of tableButtonList" :color="tableButton.color" outlined x-small class="elevation-0 mr-2" @click="doUiAction(tableButton.action, {item, button: tableButton})">{{ tableButton.text }}</v-btn>
                      </template>
                    </v-data-table>
                    <!-- 看板样式 -->
                    <div style="background-color: #eee;">
                      <task-board-list
                        :task-list.sync="tableDataFromBackend"
                        v-show="taskViewStyle == 'board'" @update-task-status="doUiAction('updateTask', $event)"
                        @click-task="doUiAction('startUpdateTask', {item: $event})"
                      />
                    </div>
                  </v-card>
              </v-col>
            </v-row>
            
           
          </v-container>
          <!-- 新增 -->
          <v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%" class="elevation-24">
            <v-form v-model="isFormValid" v-if="isAddDrawerShow" ref="createForm" lazy-validation>
              <!--抽屉标题-->
              <v-row no-gutters>
              <span class="text-h7 font-weight-bold pa-4">新增信息</span>
              </v-row>
              <v-divider class="jh-divider"></v-divider>
              <!--抽屉表单-->
              <v-row class="ma-0">
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel"><span class="red--text">*</span>任务名称</span>
                  <v-text-field :rules="requireRules" class="jh-v-input " dense filled single-line v-model="addItem.taskTitle"></v-text-field>
                </v-col>
                 
                <v-col cols="12" sm="12" md="12" xl="12">
                  <span class="inputLabel">任务内容</span>
             
                  <div id="editorMdContainer" class="mb-0">
                    <textarea style="display:none;">{{ addItem.taskContent }}</textarea>
                  </div>
                </v-col>

                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">开始时间</span>
                  <v-menu 
                    v-model="isStartAtMenuShown" 
                    :close-on-content-click="false"
                    :nudge-right="40" 
                    transition="scale-transition" 
                    offset-y 
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field 
                        append-icon="mdi-calendar" 
                        class="jh-v-input" 
                        dense 
                        single-line 
                        filled 
                        v-model="addItem.taskStartAt" 
                        v-bind="attrs" 
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="addItem.taskStartAt" no-title scrollable></v-date-picker>
                  </v-menu>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">结束时间</span>
                  <v-menu 
                    v-model="isEndAtMenuShown" 
                    :close-on-content-click="false"
                    :nudge-right="40" 
                    transition="scale-transition" 
                    offset-y 
                    min-width="auto"
                  >
                    <template v-slot:activator="{ on, attrs }">
                      <v-text-field 
                        append-icon="mdi-calendar" 
                        class="jh-v-input" 
                        dense 
                        single-line 
                        filled 
                        v-model="addItem.taskEndAt" 
                        v-bind="attrs" 
                        v-on="on"
                      ></v-text-field>
                    </template>
                    <v-date-picker v-model="addItem.taskEndAt" no-title scrollable></v-date-picker>
                  </v-menu>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">优先级</span>
                  <v-autocomplete :items="constantObj.taskLevel" class="jh-v-input" dense single-line filled v-model="addItem.taskLevel"></v-autocomplete>
                </v-col>

                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">处理人</span>
                  <v-autocomplete :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="addItem.taskManagerId"></v-autocomplete>
                </v-col>
                 
                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">团队成员</span>
                  <v-autocomplete multiple :items="userList" class="jh-v-input" item-text="username" item-value="userId" dense single-line filled v-model="addItem.taskMemberIdList"></v-autocomplete>
                </v-col>

                <v-col cols="12" sm="12" md="4" xl="3">
                  <span class="inputLabel">状态</span>
                  <v-autocomplete :items="constantObj.taskStatus" class="jh-v-input" dense single-line filled v-model="addItem.taskStatus"></v-autocomplete>
                </v-col>
              </v-row>
              <!--抽屉操作按钮-->
              <v-row class="mx-0 justify-end mt-4">
                <v-btn color="success" @click="doUiAction('createItem')" small>保存</v-btn>
                <v-btn class="elevation-0 ml-2" @click="isAddDrawerShow = false" small>取消</v-btn>
              </v-row>
            </v-form>
            <!--抽屉关闭按钮-->
            <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isAddDrawerShow = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </v-navigation-drawer>

          <!-- 公告弹窗 -->
          <v-dialog
            v-model="isAddAfficheDialogShown"
            width="500"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="red lighten-2"
                dark
                v-bind="attrs"
                v-on="on"
              >
                Click Me
              </v-btn>
            </template>

            <v-card>
              <v-card-title class="text-h5 grey lighten-2">
                新建公告
              </v-card-title>

              <v-card-text>
                <v-form>
                  <span class="inputLabel"><span class="red--text">*</span>公告内容</span>
                 <v-textarea :rules="requireRules" v-model="affiche" class="jh-v-input" dense filled single-line></v-textarea>
                </v-form>
              </v-card-text>

              <v-divider></v-divider>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  text
                  @click="doUiAction('addAffiche')"
                >
                  确定
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          
          <task-detail-drawer :user-list="userList" ref="taskDetail" @save="doUiAction('refreshTableData')" />
          <!-- <<<<<<<<<<<<< 页面内容 -->
        </div>

        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <v-navigation-drawer v-model="isHelpPageDrawerShow" fixed temporary right width="80%" class="elevation-24">
          <iframe style="border: 0" :src="`/${appInfo.appId}/pageDoc?markdownPath#`" width="100%" height="100%"></iframe>
          <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isHelpPageDrawerShow = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-navigation-drawer>
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

      </v-main>
    </v-app>

    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />
  </div>
</script>

<div id="app">
</div>


{% endblock %}

{% block vueScript %}
{% include 'component/task-detail-drawer.html' %}
{% include 'component/task-board-list.html' %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'common/constantUtil.html' %}'

<!-- 加载页面静态资源 >>>>>>>>>>>>> -->
<link rel="stylesheet" href="/<$ ctx.app.config.appId $>/public/plugins/editor.md/css/editormd.min.css" />
<link href="/<$ ctx.app.config.appId $>/public/articleViewer/font-awesome.min.css?v=6.0.0" />
<script src="/<$ ctx.app.config.appId $>/public/lib/jquery/jquery.min.js"></script>
<script src="/<$ ctx.app.config.appId $>/public/plugins/editor.md/editormd.js"></script>
<!-- <<<<<<<<<<<<< 加载页面静态资源 -->
<script type="module">

  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({
      projectId: null,
      breadcrumbs: [
        {
          text: '项目详情',
          disabled: true,
        }
      ],
      showTableZebraLine: true,
      isHelpPageDrawerShow: false,
      title: null,
      searchInput: null,
      isTableLoading: true,
      headers: [
        { text: '任务ID', value: 'taskId', width: 0 },
        { text: '任务名称', value: 'taskTitle', width: 120 },
        { text: '优先级', value: 'taskLevel', width: 120 },
        { text: '状态', value: 'taskStatus', width: 120 },
        { text: '处理人', value: 'taskManagerId', width: 120 },
        { text: '开始时间', value: 'taskStartAt', width: 120 },
        { text: '截止日期', value: 'taskEndAt', width: 120 },
      ],
      tableButtonList: [
        { text: '编辑', buttonType: 'edit', color: 'success', action: 'startUpdateTask' },
        { text: '删除', buttonType: 'delete', color: 'error', action: 'deleteItem' },
      ],
      drawerHeaders: [
        { text: '任务Id', value: 'taskId', width: 120 },
        { text: '任务名称', value: 'taskTitle', width: 120 },
        { text: '优先级', value: 'taskLevel', width: 120 },
        { text: '状态', value: 'taskStatus', width: 120 },

        { text: '处理人', value: 'taskManagerId', width: 120 },
        { text: '开始时间', value: 'taskStartAt', width: 120 },
        { text: '截止日期', value: 'taskEndAt', width: 120 },
      ],
      tableDataFromBackend: [],
      isFormValid: true,
      requireRules: [
        v => !!v || '必填',
      ],
      constantCollection: {},
      isAddDrawerShow: false,
      addItem: {},

      constantObj: {
        ...constantObj,
        taskTag: [],
        taskManagerId: [],
      },
      isStartAtMenuShown: false,
      isEndAtMenuShown: false,

      userList: [],

      projectDetail: {},
      isAddAfficheDialogShown: false,
      affiche: null,

      serverSearchInput: {},

      // 显示样式，list, board
      taskViewStyle: 'board',
      taskViewStyleIndex: 1,
    }),
    computed: {
      isMobile() {
        return window.innerWidth < 600;
      },
      // 表格内容，即当前项目下的任务
      tableData() {
        return this.tableDataFromBackend;
      },
      latestAffiche() {
        const projectAfficheList = this.projectDetail.projectAfficheList
        return projectAfficheList && projectAfficheList.length ? projectAfficheList[projectAfficheList.length - 1] : null
      }
    },
    watch: {},
    async created() {
      const urlParams = new URLSearchParams(location.search);
      const projectId = urlParams.get('projectId');
      const title = urlParams.get('title');
      if (projectId && title) {
        this.projectId = projectId;
        this.title = title;
      } else {
        setTimeout(() => {
          window.vtoast.fail('请从"项目列表"点击"任务"进入');
        }, 1000);
        return;
      }
      this.doUiAction('refreshTableData');
      this.doUiAction('getUserList')
      this.doUiAction('getProjectDetail')
    },
    mounted() {
    },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            break;
          case 'startCreateItem':
            await this.clearItemData();
            await this.openCreateItemDialog();
            await this.initEditorMd();
            break;
          case 'createItem':
            await this.confirmCreateItemDialog();
            await this.doCreateItem();
            await this.closeDrawerShow();
            await this.refreshTableData();
            break;
          case 'startUpdateTask':
            await this.$refs.taskDetail.doUiAction('open', uiActionData.item);
            break;
          case 'deleteItem':
            await this.confirmDeleteItemDialog();
            await this.doDeleteItem(uiActionData);
            await this.refreshTableData();
            break;
          case 'getUserList':
            await this.getUserList(uiActionData);
            break;
          case 'updateTask':
            await this.updateTask(uiActionData);
            break;
          case 'getProjectDetail':
            await this.getProjectDetail(uiActionData);
            break;
          case 'startAddAffiche':
            await this.startAddAffiche(uiActionData);
            break;
          case 'addAffiche':
            await this.addAffiche(uiActionData);
            await this.getProjectDetail();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const serverSearchInput = _.pickBy(this.serverSearchInput, value => !!value);

        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'selectCurrentList',
              where: { projectId: this.projectId },
              whereLike: serverSearchInput,
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        let rows = result.data.appData.resultData.rows

        // 标签列表,constantObj.taskTag
        let taskTagList = [], taskManagerIdList = []
        rows.forEach(row => {
          row.taskMemberIdList = row.taskMemberIdList ? row.taskMemberIdList.split(',') : []
          row.taskTag = row.taskTag ? row.taskTag.split(',') : []

          taskTagList = taskTagList.concat(row.taskTag.map(tag => ({ text: tag, value: tag })))
          taskManagerIdList = taskManagerIdList.concat((row.taskManagerId ? [row.taskManagerId] : []).map(id => ({ text: id, value: id })))
        })
        // loadsh去重,根据value
        this.constantObj.taskTag = _.uniqBy(taskTagList, 'value')
        this.constantObj.taskManagerId = _.uniqBy(taskManagerIdList, 'value')
        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },

      async getUserList() {
        const rows = (await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'getUserList',
              actionData: {},
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        })).data.appData.resultData.rows;
        this.userList = rows;
      },

      /**
       * uiActionId:  startCreateItem
       * description: ✅获取表格数据
      */
      async clearItemData() {

        const { userId } = window.userInfo
        this.addItem = {
          taskLevel: '无',
          projectId: this.projectId,
          taskManagerId: userId,
          taskMemberIdList: [userId],
          taskStatus: '未开始',
        };
      },

      async openCreateItemDialog() {
        this.isAddDrawerShow = true;
      },

      /**
       * uiActionId:  createItem
       * description: ✅获取表格数据
      */
      async confirmCreateItemDialog() {
        if (await window.confirmDialog({ title: "新增", content: "确定新增吗？" }) === false) {
          throw new Error("取消");
        }
      },

      /**
       * 新增数据
       */
      async doCreateItem() {
        const { id, ...data } = this.addItem;
        data.taskMemberIdList = data.taskMemberIdList.join(',')
        data.taskCreateAt = dayjs().format('YYYY-MM-DD HH:mm:ss')
        await window.vtoast.loading("新增数据");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'insertItem',
              actionData: { ...data, projectId: this.projectId },
              bizIdGenerate: {
                tableName: "task",
                prefix: "RW",
                type: "idSequence",
                bizId: "taskId",
              },
            }
          }
        })
        await window.vtoast.success("新增数据成功");
      },

      async closeDrawerShow() {
        this.isEditDrawerShow = false;
        this.isAddDrawerShow = false;
      },

      // ---------- 更新任务 >>>>>>>>>>>>> ----------
      async updateTask({ value, item, key }) {
        const { id } = item;
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'updateItem',
              actionData: { [key]: value },
              where: { id }
            },
          }
        })
      },
      // ---------- <<<<<<<<<<<<< 更新任务 ----------

      // ---------- 编辑器 >>>>>>>>>>>>> ----------
      async initEditorMd() {
        const that = this;
        document.getElementById('editorMdContainer').innerHTML = `<textarea style=\"display:none;\">${this.addItem['taskContent'] || ""}</textarea>`;

        that.editor = editormd('editorMdContainer', {
          height: 300,
          watch: false,
          saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
          path: '/<$ ctx.app.config.appId $>/public/plugins/editor.md/lib/',
          onchange: function (val) {
            console.log('editorMdContainer:', val);
          },
        });
      },
      // ---------- <<<<<<<<<<<<< 编辑器 ----------

      // ---------- 项目详情 >>>>>>>>>>>>> ----------
      async getProjectDetail() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'taskManagementOfOneProject',
              actionId: 'getProjectList',
              where: { projectId: this.projectId },
              orderBy: [{ column: 'operationAt', order: 'desc' }]
            }
          }
        });
        const rows = result.data.appData.resultData.rows
        rows.forEach(row => {
          row.projectAfficheList = JSON.parse(row.projectAfficheList || '[]')
        })
        this.projectDetail = rows[0] || {};
      },
      // ---------- <<<<<<<<<<<<< 项目详情 ----------

      // ---------- 公告 >>>>>>>>>>>>> ----------
      async startAddAffiche() {
        this.isAddAfficheDialogShown = true
      },
      async addAffiche() {
        this.isAddAfficheDialogShown = false

        const afficheList = [...this.projectDetail.projectAfficheList]
        afficheList.push({
          content: this.affiche,
          createAt: dayjs().format('YYYY-MM-DD HH:mm:ss'),
          userId: userInfo.userId,
          username: userInfo.username,
        })
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'projectManagement',
              actionId: 'updateItem',
              where: { projectId: this.projectId },
              actionData: {
                projectAfficheList: JSON.stringify(afficheList)
              },
            }
          }
        });
        await window.vtoast.success("新增公告成功");
      },
      // ---------- <<<<<<<<<<<<< 公告 ----------
    }
  })
</script>

<style scoped>
  /* 移入显示下划线 */
  a:hover {
    text-decoration: underline;
  }
</style>
{% endblock %}