<template id="task-board-list">

  <div>
    <v-row>
      <v-col cols="12" sm="4" md="3" xl="2" v-for="(column, columnIndex) in board" :key="columnIndex">
        <div class="pa-2">
          <h3>{{column.name}}</h3>
        </div>
        <draggable v-model="board" :list="column.items" group="tasks" @start="drag=true" @end="drag=false"
          @change="changeTaskStatus" style="overflow-y: auto; height: 100vh;background-color: #f4f5f7;" class="pa-2">
          <v-card class="mb-2 pa-3 task-item" v-for="(item, index) in column.items" :key="index">
            <h3 @click="$emit('click-task', item)">{{ item.taskTitle }}</h3>
            <div>
              <v-chip label x-small v-if="item.taskEndAt" color="grey lighten-3">{{item.taskEndAt}}截止</v-chip>
            </div>
            <div class="d-flex align-center justify-space-between mt-2">
              
              <div>
                <span>#{{ item.id }}</span>
                <span class="ml-1"><v-icon size="14"
                    :color="constantObj.taskLevel.find(l=> l.text==item.taskLevel).color">mdi-circle-medium</v-icon> {{
                  item.taskLevel }}</span>

                <v-chip class="ml-1" :color="constantObj.taskStatus.find(l=> l.text==item.taskStatus).color" dark
                  x-small>{{ item.taskStatus }}</v-chip>
              </div>
              
              <v-avatar color="grey" :title="item.taskManagerId" v-if="item.taskManagerId" size="20">
                <span class="white--text">{{item.taskManagerId[0]}}</span>
              </v-avatar>
            </div>
          </v-card>

        </draggable>
      </v-col>
    </v-row>
  </div>
</template>


<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>


<script type="module">
  Vue.component("task-board-list", {
    template: '#task-board-list',
    props: {
      taskList: {
        type: Array,
        default: () => []
      }
    },
    data: () => ({
      drag: false,
      constantObj: constantObj,
      board: [],
    }),
    watch: {
      taskList: {
        handler: function (val, oldVal) {
          this.buildBoard();
        },
        deep: true
      }
    },

    methods: {
      buildBoard() {
        // 根据taskStatus来分组，使用loadsh
        const grouped = {};

        const defaultKeys = ['进行中', '未开始', '已完成'];
        defaultKeys.forEach(key => {
          if (!grouped.hasOwnProperty(key)) {
            grouped[key] = this.taskList.filter(item => item.taskStatus === key);
          }
        });

        this.board = _.map(grouped, (items, name) => ({ name, items }));
      },
      changeTaskStatus(event) {
        const { added, removed } = event
        this.board = this.board.map(column => {
          if (added && column.items.includes(added.element)) {
            added.element.taskStatus = column.name
            this.$emit('update-task-status', { item: added.element, key: 'taskStatus', value: column.name })
          }
          if (removed && column.items.includes(removed.element)) {
            removed.element.taskStatus = column.name
          }
          return column
        })
      }
    },
  })
</script>
<style scoped>
  .task-item {
    cursor: pointer;
  }
</style>