<script>
  const constantObj = {
    taskLevel: [
      {
        "text": "无",
        "value": "无",
        color: 'grey'
      },
      {
        "text": "低",
        "value": "低",
        color: 'green'
      },
      {
        "text": "中",
        "value": "中",
        color: 'orange'
      },
      {
        "text": "高",
        "value": "高",
        color: 'red'
      },
    ],
    taskStatus: [
      {
        "text": "未开始",
        "value": "未开始",
        color: 'blue',
      },
      {
        "text": "进行中",
        "value": "进行中",
        color: 'orange',
      },
      {
        "text": "已完成",
        "value": "已完成",
        color: 'green',
      },
    ]
  }
</script>